#service {
	max-width: 1240px;
	width: 90%;
	margin: 15px auto;
	height: 450px;
	background: #26A4BF;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 55px;
}

.service-left-grid {
	width: 80%;
	margin: auto;
}

.service-left-grid img {
	width: 100%;
}

.service-left-grid:nth-child(1)>img {
	box-shadow: 21px 12px 2px #1f788b;
}

.service-right-grid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 80%;
	margin: auto;
}

.service-headers {
	text-align: center;
}

.service-right-grid-text-holder {
	display: flex;
	justify-content: center;
}

.service-right-grid p {
	text-align: center;
	margin-top: 10px;
	width: 80%;
}

span.boldy-white {
	color: white;
}

.service-right-grid-button-holder {
	margin: auto;
	justify-content: center;
	display: flex;
}

.service-right-grid-button-holder button {
	padding: 16px 115px;
	border-radius: 6px;
	border: none;
	background: #E8E36D;
	cursor: pointer;
	font-weight: bold;
}

.service-right-grid-button-holder button:hover {
	background: #f8f47e;
}

/*870 695 515*/
@media screen and (max-width:780px) {
	.service-left-grid {
		width: 300px;
		margin: auto;
	}

	.service-left-grid img {
		width: 90%;
		height: 350px;
		margin-left: 30px;
	}

	.service-right-grid {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 400px;
		margin: auto;
	}

	.service-headers {
		text-align: center;
	}

	.service-right-grid-text-holder {
		display: flex;
		justify-content: center;
	}

	.service-right-grid p {
		text-align: center;
		margin-top: 10px;
		width: 100%;
	}



	.service-right-grid-button-holder {
		margin: auto;
		justify-content: center;
		display: flex;
	}

	.service-right-grid-button-holder button {
		padding: 10px 60px;
		border-radius: 6px;
		border: none;
		background: #E8E36D;
		cursor: pointer;
		font-weight: bold;
	}
}

@media screen and (max-width:700px) {
	#service {
		max-width: 1240px;
		width: 90%;
		margin: 15px auto;
		height: auto;
		background: #26A4BF;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 10px;
		border-radius: 6px;
	}

	.service-left-grid {
		width: 300px;
		margin: auto;
	}

	.service-left-grid img {
		width: 300px;
		height: 300px;
		margin: 0;
	}

	.service-right-grid {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 400px;
		margin: auto;
	}

	.service-headers {
		text-align: center;
	}

	.service-right-grid-text-holder {
		display: flex;
		justify-content: center;
	}

	.service-right-grid p {
		text-align: center;
		margin-top: 10px;
		width: 100%;
		font-size: 18px;
	}

	.service-right-grid-button-holder {
		margin: auto;
		justify-content: center;
		display: flex;
	}

	.service-right-grid-button-holder button {
		padding: 10px 60px;
		border-radius: 6px;
		border: none;
		background: #E8E36D;
		cursor: pointer;
		font-weight: bold;
	}
}