.navigation-container {
	display: flex;
	flex-direction: row;
	max-width: 1240px;
	width: 90%;
	margin: 0 auto;
	background-color: black;
	color: white;
	height: 65px;
	align-items: center;
	gap: 15px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

nav img {
	height: 35px;
	padding-left: 30px;
}

nav h1 {
	font-size: 25px;
	flex-grow: 2;
}

ul.navigation-wrapper {
	display: flex;
	flex-direction: row;

}

.navigation-wrapper li {
	margin-right: 35px;
}